data/doors/allDoors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="list" type="listType"/>
  <xs:complexType name="posType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="x" use="optional"/>
        <xs:attribute type="xs:string" name="y" use="optional"/>
        <xs:attribute type="xs:string" name="z" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="shapeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ax"/>
        <xs:attribute type="xs:string" name="ay" use="optional"/>
        <xs:attribute type="xs:string" name="bx"/>
        <xs:attribute type="xs:string" name="by"/>
        <xs:attribute type="xs:string" name="cx" use="optional"/>
        <xs:attribute type="xs:string" name="cy" use="optional"/>
        <xs:attribute type="xs:string" name="dx" use="optional"/>
        <xs:attribute type="xs:string" name="dy"/>
        <xs:attribute type="xs:string" name="minz"/>
        <xs:attribute type="xs:string" name="maxz"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="setType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="doorType">
    <xs:sequence>
      <xs:element type="posType" name="pos"/>
      <xs:element type="shapeType" name="shape"/>
      <xs:element type="setType" name="set" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ai_paramsType" name="ai_params" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="hp" use="optional"/>
    <xs:attribute type="xs:string" name="pdef" use="optional"/>
    <xs:attribute type="xs:string" name="mdef" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ai_paramsType">
    <xs:sequence>
      <xs:element type="setType" name="set"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element type="doorType" name="door" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>